<!DOCTYPE html>
<html>
  <head>
    <title>Verify Account</title>
  </head>
  <body>
    <h1>Welcome, <%= email %>!</h1>
    <p>Thank you for joining our website.</p>
    <p>Please click the following link to verify your email: <a href="<%=verificationUrl%>">Verify Account</a></p>
  </body>
</html>